*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

/* default is 10px */
html {
  font-size: 62.5%; 
}

body {
  box-sizing: border-box; 
}

header {
    padding: 2.5rem;
    font-size: 2.4rem;
    border-bottom: 1px solid;
}

#section-one {
    padding: 10rem;
    min-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/beach.jpg');
    background-size: cover;
    position: relative;
}

#section-one #text {
    z-index: 1;
    color: white;
}

#section-one li {
    line-height: 3rem;
    font-size: 1.6rem;
}

#section-two {
    display: flex;
    padding: 8rem;
    background-color:rgb(219, 200, 190);
}

#section-two .column {
    display: flex;
    flex: 1;
    min-height: 70rem;
    padding-bottom: 2.5rem;
}

#section-two .seperator {
    width: 2.5rem;
}

#section-two .column-one {
    background-color:rgb(30, 32, 37);
    color: white;
    text-align: center;
    flex-direction: column;
    line-height: 2;
    align-items: center;
    font-size: 1.6rem;
}

#section-two .column-one .title {
    color:rgb(219, 200, 190);
}

#section-two .column-one .text {
    width: 90%;
}

#section-two .column-two {
    background-image: url('../assets/landscape.webp');
    background-size: cover;
}

footer {
    display: flex;
    flex: 1;
    padding: 5rem;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    flex-direction: column;
    font-size: 1.6rem;
}

footer .first-div {
    margin-bottom: 2.5rem;
}