html, body {
    flex: 1;
    /* background-color: black; */
    margin: 0;
}

header {
    padding: 25px;
    font-size: 24px;
    border-bottom: 1px solid;
}

#section-one {
    padding: 100px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('beach.jpg');
    background-size: cover;
    position: relative;
}

#section-one #text {
    z-index: 1;
    color: white;
}

#section-one li {
    line-height: 30px;
}

#section-two {
    display: flex;
    padding: 80px;
    background-color:rgb(219, 200, 190);
}

#section-two .column {
    display: flex;
    flex: 1;
    height: 700px;
}

#section-two .seperator {
    width: 25px;
}

#section-two .column-one {
    background-color:rgb(30, 32, 37);
    /* padding: 100px 50px; */
    color: white;
    text-align: center;
    flex-direction: column;
    line-height: 2;
    align-items: center;
}

#section-two .column-one .title {
    color:rgb(219, 200, 190);
}

#section-two .column-one .text {
    width: 90%;
}

#section-two .column-two {
    /* background-color: green; */
    background-image: url('landscape.webp');
    background-size: cover;
}

footer {
    display: flex;
    flex: 1;
    padding: 50px;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    flex-direction: column;
}

footer .first-div {
    margin-bottom: 25px;
}